.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
    background: linear-gradient(90deg, #808080, #00ffe1);
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px 0 40px 0;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: gray;
    font-family: inherit;
}

.messages {
    padding: 10px;
    border-right: 5px;
}

.messages .dialog {

}

/*
.link-blok a:hover{
    text-decoration:none;
}*/
