.mainPart {
    display: flex;
    flex-direction: row;
}

.mainPart img {
    width: 200px;
    border-radius: 0%;
}

.photoProfile{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.content {
    flex-direction: column;
}

.status {
    display: flex;
    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #7e4200;
    margin: 5px 0 30px 0;
}

.info {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.login {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.changeFile{
    margin-top: 20px;
}

.btn {
    font-family: 'Source Sans Pro', sans-serif;
}

.contacts {
    padding-left: 10px;
}