.header {
    grid-area: h;
    background-color: gray;
}

.header img {
    width: 100px;
    padding-left: 15px;
}

.loginBlock {
    float: right;
    margin: 20px 10px auto auto;
    font-weight: bold;
}

.loginBlock a {
    color: white;
}