.app-wrapper {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-areas:
          'h h h'
          'n c c';
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 1fr 5fr 5fr;
    /*grid-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    width: 100%;
    background: linear-gradient(90deg, #808080, #00d4ff);
}
