.app-wrapper {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-areas:
          'h h'
          'n c'
          'f f'  ;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 10fr;
    /*grid-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    width: 100%;
    background: linear-gradient(90deg, #808080, #00d4ff);
    border-width: 4px 0 0 4px;
    border-style: solid;
    border-image: linear-gradient(45deg, #da76ff, #98f800) 1;
}
