.nav {
    grid-area: n;
    background-color: gray;
}


.item {
    margin: 20px 0px 20px 10px;
    width: 100%;
}

.item a {
    color: #ff9200;
    font-weight: 700;
    font-size: large;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.item a.activeLink {
    color: #f7ff00;
    text-shadow: 2px 2px 2px #000;
    /*margin: 20px 0px 20px 10px;*/
}